nav > ul {
  display: flex;
}
nav li {
  margin-right: 20px;
  padding: 5px;
  list-style: none;
}
nav li:hover {
  background: lightgray;
}
nav a {
  text-decoration: none;
}

/* nested dropdown */
nav li .dropdown {
  display: none;
  position: absolute;
  background-color: aqua;
}
nav li:hover > .dropdown {
  display: block;
}
