.blog {
  border: 20px solid blue;
  box-shadow: 10px 10px 10px burlywood;
  margin: 20px;
}
.header {
  margin: 20px;
  /* background-image: url("/images/ring.svg"); */
  background-image: url("../images/macbook.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
